body {
    font-family: Tahoma, sans-serif;
    color: #6172a0;
  }
  
  #cat-clicker-app {
    text-align: center;
    background-color: #eff2f7;
    width: 80vw;
    margin: 0 auto;
    padding: 10px;
  }
  
  .container {
    display: inline-block;
    width: 25%;
    text-align: left;
    vertical-align: top;
  }

  .cat-list-container {
    margin-top: 100px;
  }
  
  li {
    list-style-type: none;
    margin: 20px 0 20px -40px;
    padding-left: 0;
    cursor: pointer;
  }
  
  #cat {
    text-align: center;
    width: 70%;
  }
  
  img {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  #admin {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 3% auto;
  }
  
  #admin-panel {
  display: block;
  }
  
  label {
    font-size: 0.7em;
  }
  
  .hide {
    display: none;
  }
  